<!-- $Id: bonus_type_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

{include file="pageheader.htm"}
<h1>管理员：{$admin_name}</h1>
<div class="main-div">
<form action="moneycard1.php?act=account" method="post" name="theForm" onsubmit="return validate()">

<table width="100%">
  <tr style="height:22px;line-height:22px;vertical-align:middle;">
    <td style="height:22px;line-height:22px;vertical-align:middle;">类型  ：  
      <select name="type" id="type">
      <option value='0'>--请选择--</option>      
      <option value='1'>消费</option>
      <option value='2'>充值</option>
      <option value='3'>退款</option>
      </select>    </td>
    <td>手机号：<input type="text" name="mobilephone" id="mobilephone" maxlength="11" size="11"/></td>
    <td>搜索范围：
	      从<input name="sdate" type="text" id="sdate" size="22" value='' readonly="readonly" /><input name="selbtn3" type="button" id="selbtn3" onclick="return showCalendar('sdate', '%Y-%m-%d', false, false, 'selbtn3');" value="{$lang.btn_select}" class="button"/>
	      到<input name="edate" type="text" id="edate" size="22" value='' readonly="readonly" /><input name="selbtn4" type="button" id="selbtn4" onclick="return showCalendar('edate', '%Y-%m-%d', false, false, 'selbtn4');" value="{$lang.btn_select}" class="button"/> 
	</td>
	<td colspan='4' align='center'>
      <input type="submit" value="搜索" class="button" /> </td>
  </tr>
  
</table>
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
	  <tr>
	    <th>编号</th>
	    <th>会员名</th>
	    <th>操作</th>
	    <th>金额</th>
	    <th>时间</th>
	    <th>备注</th>
	  </tr>
	  {foreach from=$account_list key=k item=val}
	  <tr>
	    <td align="center">{$val.sn}</td>
	    <td align="center">{$val.user_name}</td>
	    <td align="center">{if $val.change_type eq 1}消费{elseif $val.change_type eq 2}充值{elseif $val.change_type eq 3}退款{/if}</td>
	    <td align="center">{if $val.change_type gt 1}<font color="green">{$val.format_user_money}</font>{elseif $val.change_type eq 1}<font color="red">{$val.format_user_money}</font>{/if}</td>
	    <td align="center">{$val.change_time}</td>	    
	    <td align="left">{$val.change_desc}</td>
	  </tr>
	  {foreachelse}
      <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
	  {/foreach}
	</table>
</div>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="javascript"><!--


/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  
  var mp=document.getElementById("mobilephone");
  var RegCellPhone = /^([0-9]{11})?$/;
  falg=mp.value.search(RegCellPhone);
  if (falg==-1){
	  validator.addErrorMsg("手机号不合法！");
    }
  validator.islt('sdate', 'edate', "起始日期必须小于截止日期");
  /**if (document.getElementById(1).style.display == "")
  {
    var minAmount = parseFloat(document.forms['theForm'].elements['min_amount'].value);
    if (isNaN(minAmount) || minAmount <= 0)
    {
	  validator.addErrorMsg(invalid_min_amount);
    }	
  }*/
  return validator.passed();
	 
}

/**onload = function()
{
  {/literal}
  get_value = '{$moneycard_arr.send_type}';
  {literal}

  showunit(get_value)
  // 开始检查订单
  startCheckOrder();
}*/


--></script>
{/literal}
{include file="pagefooter.htm"}
