<style type="text/css">
body { margin:0; }
td { font-size:12px; }
@media print {
	.noprint { display:none; }
}
</style>
<table height="84"><tr><td>&nbsp;&nbsp;&nbsp;</td></tr></table>
<table width="700" border="0">
	<tr height="32">
      <td width="18%"><font size="+1"><b>{$pack.code}{$pack.route_name}-{$pack.turn}</b></font></td>
      <td width="17%"> {$order.add_date}</td>
      <td width="65%"><font size="+1">{$order.order_sn}</font>&nbsp;&nbsp;<B><font size="+1">{$psn}&nbsp;</font></B></td>
	 </tr>
</table>
<table width="700" border="0">
    <tr height="29">
      <td width="16%" colspan="2" style="overflow:hidden;">{$order.orderman}</td>
	  <td width="20%">{$order.ordertel}</td>
      <td width="7%">&nbsp;</td>
	  <td width="19%">&nbsp;</td>
      <td width="1%">&nbsp;</td>
	  <td width="38%">{$order.tel}&nbsp;</td>
    </tr>
    <tr height='28'>
    	<td width="16%" colspan="2">{$order.consignee}</td>
        <td width="16%">{$order.mobile}&nbsp;&nbsp;&nbsp;{$order.tel}</td>
		<td width="7%">&nbsp;</td>
        <td width="19%">{$order.btime}</td>
		<td width="1%">&nbsp;</td>
        <td width="38%">{if $order.integral >0}-{$order.integral}{/if}</td>
  </tr>
     <tr height="26">
	    <td width="2%">
    	<td colspan="6" width="98%">{$order.address}</td>
     </tr>
     <tr height="26">
	    <td width="2%"></td>
    	<td colspan="6" height='25'>{$order.money_address}</td>
      </tr>
</table>
<table width="700" height="140" border="0">
	<tr height="35">
		<td colspan="7">&nbsp;</td>
  	</tr>
    {foreach from=$goods.goods item=goods}
     <tr height="18" style="line-height:15px;">
          <td width="15%" align="left">{$goods.goods_sn}{$goods.goods_name}</td>
          <td width="5%" align="center">{$goods.goods_attr}</td>
           <td width="10%" align="center">{$goods.goods_number}</td>
           <td width="10%" align="center">{if $goods.goods_sn =='D3'}套{else}个{/if}</td>
           <td width="12%" align="center">{$goods.goods_price}</td>
           <td width="10%" align="left">{$goods.goods_discount}</td>
           <td width="41%">{$goods.goods_sub}</td>
     </tr>
    {/foreach}
	<tr><td colspan="7"></td></tr>
 </table>
 <table width="700" height="100px" border="0">
   <tr>
     <td>
     <table width="210" height="92" style="float:left;" border="0">
       <tr>
	   <td width="70"></td>
	  <td width="70">&nbsp;</td>
	  <td width="70">&nbsp;</td>
      </tr>
      <tr height="30">
	  <td></td>
	  <td align="center">{$goods.canju}</td>
	  <td align="center">{$goods.canju_sum}</td>
     </tr>
    	   <tr height="30">
		      <td></td>
			  <td align="center">{$goods.candle}</td>
			  <td align="center">{$goods.candle_sum}</td>
		   </tr>
		</table>
	 </td>
	 <td>
		<table width="590" height="90" border="0">
		   <tr height="30">
			  <td colspan="4">&nbsp;</td>
		   </tr>
		   <tr height="58">
		   <td width="35"></td>
			  <td width="70" align="center">{$order.pay_fee}<br /><br />{$order.shipping_fee}</td>
			  <td width="200" align="center">{$order.card_name}{$order.card_message} </td>
			  <td></td>
				</tr>
			</table>
	   </td>
	</tr>
</table>
<table width="700" height="70" border="0">
  <tr>
      <td colspan="7">&nbsp;</td>
  </tr>
   <tr>
      <td width="100"></td>

      <td height='20' width="60">{$order.goods_amount}</td>
      <td width="60">{$order.fj_fee}</td>
      <td width="60">{$order.fw_fee}</td>
      <td width="60">{$pay[paid]}</td>
      <td width="70">{$pay[payname]}</td>
      <td width="60">{$pay[unpaid]}	
	  {if $pay[card_no]}(卡号:{$pay[card_no]}){/if}</td>
	  <td width="80">&nbsp;</td>
	  <td width="80">&nbsp;</td>
	 
  </tr>
</table>
<table width="600" height="68" border="0">
	<tr>
      <td width='80' rowspan="2" height='60'>&nbsp;</td>
      <td width="100" height="40">{$order.inv_payee}&nbsp;</td>
      <td width="50">{$order.inv_content}&nbsp;</td>
      <td width="180">{$order.to_buyer}&nbsp;</td>
  </tr>
</table>
<table width="700" height="75" border="0">
	<tr>
      <td width='120' height='75'>&nbsp;</td>
      <td width="580" height="75">
	  <table>
         <tr height="25">
		    <td width="140">&nbsp;</td>
			<td width="140">&nbsp;</td>
			<td width="300">&nbsp;</td>
		 </tr>
		<%rs.movefirst
		For i=1 To rs.recordcount
			If rs("is_integral")=1  And ( rs("goods_sn")="K3" or rs("goods_sn")="K4" )  Then 
			%>
		   <tr>
		     <td>
			<%If Instr(rs("goods_name")," ")<>0  Then 
				goods=Right(rs("goods_name"),Len(rs("goods_name"))-InstrRev(rs("goods_name")," "))
					Else 
						goods=rs("goods_name")
			End If 
			p1=p1&rs("goods_sn")&goods&","
			response.write rs("goods_sn")&goods
			%>
			 </td>
		     <td>
				<%p2=p2&rs("goods_attr")&","
				response.write rs("goods_attr")%>
			 </td>
		     <td><%=rs("goods_number")%></td>
		   </tr>
		<%
			K_count=K_count+CInt(rs("goods_price"))*rs("goods_number")
			
		End If 
		rs.movenext
		Next 
		%>
	  </table>
      </td>
  </tr>
</table>
<table width="510" height="86" border="0">
	<tr>
   	  <td width="60" height='20'>&nbsp;</td>
      <td width="220">&nbsp;</td>
      <td width="160">&nbsp;</td>
      <td>&nbsp;</td>
  </tr>
    <tr>
    	<td height='55' align="center">0</td>
      	<td align="center"></td>
        <td>不办理</td>
        <td width="160">{$order.wsts}&nbsp;</td>
    </tr>
</table>

<table height="160" width="700"><tr><td width=155><%response.write Now()%></td><td valign=bottom><H3>流水号:{$psn}</H3></td></tr></table>
<table width='700' height="22" border="0">
	<tr>
      <td width="25%">{$order.kfgh}</td>
      <td width="28%">{$order.add_date}</td>
      <td width="47%">{$order.order_sn}</td>
  </tr>
</table>
<table width='700' border="0">
	<tr height="30">
      <td width="40"></td>
      <td width="80">{$order.orderman}</td>
      <td width="100"></td>
	  <td width="80">{$tips}</td>
      <td width="60"></td>
      <td></td>
  </tr>
</table>
<table width="700" height="56">
    <tr>
    	<td width="40"></td>
  		<td colspan='5' height='26'>	   
		{foreach from=$goods.goods item=goods}
        {$goods.goods_attr}{$goods.goods_name}{$goods.goods_number}个，
       {/foreach}&nbsp;</td>
    </tr>
	<tr>
	    <td width="40">&nbsp;</td>
        <td colspan='5' height='26'>环外费: {$order.shipping_fee}&nbsp;元</td> 
	</tr>
</table>
<table width="700" height="163">
	<tr><td align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{$order.other}{if $order.province <>'501'}<font size='+2'></font>{/if}--></td></tr>
</table>
<table width="700" >
    <tr>
    	<td height="19" width="45">&nbsp;</td>
        <td width="70">{$canju}&nbsp;</td>
      <td width="60">{$candle}</td>
      <td width="70">&nbsp;</td>
      <td width="80">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
    	<td height="31" width="20">&nbsp;</td>
        <td width="170"><B>{$order.card_message}</B>
		</td>
		<td>&nbsp;</td>
        <td colspan="3" align="left" style="padding-left:25px;"  width="170">&nbsp;&nbsp;<B>{$order.scts}</B></td>
  </tr>
</table>