{include file="header.html"}
{insert_scripts files="utils.js,listtable.js,validator.js"}
<div class="text_title">
<h3 style="float:left;display:inline;">--{$ur_here}</h3>
<div class="action-span"><a href="{$action_link.href}">{$action_link.text}</a></div>
<div style="clear:both"></div>
</div>
<div class="list-div">
<form name="theForm" method="post" enctype="multipart/form-data" onsubmit="return validate();">
<table width="100%" bgcolor="#ffffff">
  <tr>
    <td class="label">用户名</td>
    <td>
      <input type="text" name="user_name" maxlength="20" value="{$user.user_name|escape}" size="34"/>{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">真实姓名</td>
    <td>
      <input type="text" name="truename" maxlength="20" value="{$user.sname|escape}" size="34"/>{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label" >城市</td>
    <td>
    	<select name="city" id="city" onchange="select_station()" >
    		<option value="0">请选择</option>
    		{foreach from=$city item=city}
    		<option value="{$city.city_code}" {if $city.city_code eq $user.city_group}selected="selected" {/if}>{$city.city_name}</option>
    		{/foreach}
    		<option value="998" {if $user.city_group eq '998' }selected="selected" {/if}>全局</option>
    	</select>
    </td>
  </tr>
  <tr>
    <td class="label" >站点</td>
    <td>
    	<select name="station" id="station" >
    		<option value="0">请选择</option>
			{foreach from=$station item=s}
			 <option value="{$s.station_id}" {if $s.station_id eq $user.remark}selected="selected"{/if}>{$s.station_name}</option>
			{/foreach}
    	</select>
    </td>
  </tr>
 {if $action eq "add"}
  <tr>
    <td class="label">密 码</td>
    <td>
      <input type="password" name="password" maxlength="32" size="34" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">确认密码</td>
    <td>
      <input type="password" name="pwd_confirm" maxlength="32" size="34" />{$lang.require_field}</td>
  </tr>
  {/if}
  {if $action neq "add"}
  <tr>
    <td class="label">旧密码</td>
    <td>
      <input type="password" name="old_password" size="34" />{$lang.require_field}
      <br /><span class="notice-span">如果要修改密码,请先填写旧密码,如留空,密码保持不变</span></td>
  </tr>
  <tr>
    <td class="label">新密码</td>
    <td>
      <input type="password" name="new_password" maxlength="32" size="34" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">确认密码</td>
    <td>
      <input type="password" name="pwd_confirm" value="" size="34" />{$lang.require_field}</td>
  </tr>
  {if $user.agency_name}
  <tr>
    <td class="label">{$lang.agency}</td>
    <td>{$user.agency_name}</td>
  </tr>
  {/if}
  {/if}
   {if $select_role}
    <tr>
   <td class="label">角色选择</td>
    <td>
      <select name="select_role">
        <option value="0">请选择...</option>
        {foreach from=$select_role item=list}
        <option value="{$list.role_id}" {if $list.role_id eq $user.role_id} selected="selected" {/if} >{$list.role_name}</option>
        {/foreach}
      </select>
    </td>
  </tr>
  {/if}
  {if $action eq "modif"}
  <tr>
  <td align="left" class="label">{$lang.edit_navi}</td>
  <td>
      <table style="width:300px" cellspacing="0">
        <tr>
        <td valign="top">
          <input type="hidden" name="nav_list[]" id="nav_list[]" />
          <select name="menus_navlist" id="menus_navlist" multiple="true" style="width: 120px; height: 180px" onclick="setTimeout('toggleButtonSatus()', 1);">
          {html_options options=$nav_arr}
          </select></td>
        <td align="center">
         <input type="button" class="button" value="{$lang.move_up}" id="btnMoveUp" onclick="moveOptions('up')" disabled="true" />
         <input type="button" class="button" value="{$lang.move_down}" id="btnMoveDown" onclick="moveOptions('down')" disabled="true" />
         <input type="button" value="{$lang.add_nav}" id="btnAdd" onclick="JavaScript:addItem(theForm.all_menu_list,theForm.menus_navlist); this.disabled=true; " class="button" disabled="true" /><br />
         <input type="button" value="{$lang.remove_nav}" onclick="JavaScript:delItem(theForm.menus_navlist); toggleButtonSatus()" class="button" disabled="true" id="btnRemove" /></td>
        <td>
          <select id="all_menu_list" name="all_menu_list" size="15" multiple="true" style="width:150px; height: 180px" onchange="toggleAddButton()">
            {foreach from=$menus item=menu key=key}
              {if $key neq "admin_home" && $menus.$key}
              <option value="" style="font-weight:bold;">{$lang.$key}</option>
              {foreach from=$menus.$key item=item key=k}
              <option value="{$item}">&nbsp;&nbsp;&nbsp;&nbsp;{$lang.$k}</option>
              {/foreach}
              {/if}
             {/foreach}
           </select></td>
        </tr>
      </table></td>
  </tr>
  {/if}
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="确定" class="button" />&nbsp;&nbsp;&nbsp;
      <input type="reset" value="重置" class="button" />
      <input type="hidden" name="act" value="{$form_act}" />
      <input type="hidden" name="id" value="{$user.id}" /></td>
  </tr>
</table>
</form>
</div>
<script language="JavaScript"><!--
var action = "{$action}";


{literal}
document.forms['theForm'].elements['user_name'].focus();


/**
 * 切换增加按钮的状态
 */
function toggleAddButton()
{
    var sel = document.getElementById("all_menu_list");
    document.getElementById("btnAdd").disabled = (sel.selectedIndex > -1) ? false : true;
}

/**
 * 切换移出，上移，下移按钮状态
 */
function toggleButtonSatus()
{
    var sel = document.getElementById("menus_navlist");
    document.getElementById("btnRemove").disabled = (sel.selectedIndex > -1) ? false : true;
    document.getElementById("btnMoveUp").disabled = (sel.selectedIndex > -1) ? false : true;
    document.getElementById("btnMoveDown").disabled = (sel.selectedIndex > -1) ? false : true;
}

/**
 * 移动选定的列表项
 */
function moveOptions(direction)
{
    var sel = document.getElementById('menus_navlist');
    if (sel.selectedIndex == -1)
    {
        return;
    }

    len = sel.length
    for (i = 0; i < len; i++)
    {
        if (sel.options[i].selected)
        {
            if (i == 0 && direction == 'up')
            {
                return;
            }

            newOpt = sel.options[i].cloneNode(true);

            sel.removeChild(sel.options[i]);
            tarOpt = (direction == "up") ? sel.options[i-1] : sel.options[i+1]
            sel.insertBefore(newOpt, tarOpt);
            newOpt.selected = true;
            break;
        }
    }
}

/**
* 检查表单输入的数据
*/
function validate()
{
  get_navlist();

  validator = new Validator("theForm");
  validator.password = function (controlId, msg)
  {
    var obj = document.forms[this.formName].elements[controlId];
    obj.value = Utils.trim(obj.value);
    if (!(obj.value.length >= 6 && /\d+/.test(obj.value) && /[a-zA-Z]+/.test(obj.value)))
    {
      this.addErrorMsg(msg);
    }

  }
  
  validator.required("user_name", '用户名不能为空');

  if (action == "add")
  {
    if (document.forms['theForm'].elements['password'])
    {
      //validator.password("password", '密码无效');
      validator.eqaul("password", "pwd_confirm", '两次密码不相等');
    }
  }
  if (action == "edit" || action == "modif")
  {
    if (document.forms['theForm'].elements['old_password'].value.length > 0)
    {
      //validator.password("new_password", '密码无效');
      validator.eqaul("new_password", "pwd_confirm", '两次密码不相等');
    }
  }

  return validator.passed();
}

function get_navlist()
{
  if (!document.getElementById('nav_list[]'))
  {
    return;
  }

  document.getElementById('nav_list[]').value = joinItem(document.getElementById('menus_navlist'));
  //alert(document.getElementById('nav_list[]').value);
}

function select_station(){
	$city_code = document.getElementById("city").value;

	Ajax.call("privilege.php","act=getstation&city_code="+$city_code,show_response,"get","JSON");
}

function show_response(result) {

	  var sel = document.getElementById("station");

	  sel.length = 1;


	  if (document.all) {
	    sel.fireEvent("onchange");
	  } else {
	    var evt = document.createEvent("HTMLEvents");
	    evt.initEvent('change', true, true);
	    sel.dispatchEvent(evt);
	  }

	  if (result) {

	    for (i = 0; i < result.length; i ++ ) {
	      var opt = document.createElement("OPTION");
	      opt.value = result[i].station_id;
	      opt.text  = result[i].station_name;
	      sel.options.add(opt);
	    }
	  }
	}

{/literal}
--></script>
{include file="footer.html"}